/*Stylesheet*/
div, nav, header {
	margin: 5px;
	padding: 3px;
}

.wrapper {
	border: solid 1px black;
	display: block;
	margin: 15px auto;
	max-width: 300px;
	text-align: left;
	font-size: 18px;
}

form {
	text-align: left;
}

a {
	padding: 15px 25px;
	border: solid gray 1px;
	margin: 5px;
	margin-left: 0;
	text-decoration: none;
	display: inline-block;
	color: black;
	font-weight: bold;
	background-color: #fff;
	
	-webkit-transition: background-color .5s ease-in-out, color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out, color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out, color .5s ease-in-out;
	transition: background-color .5s ease-in-out, color .5s ease-in-out;
}

input {
	margin: 5px;
	margin-left: 0;
	display: block;
	height: 35px;
}


a:hover {
	color: #fff;
	background-color: #000;
}
